<div class="row">
    <div class="container col-12 text-center" id="course">
        <h1 class="color text-center">proyectos</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card servicios">
                    <div class="card-body">
                        <img src="./assets/img/proyectos/tienda carrito.png" class="img-fluid" alt="">
                        <h5 class="card-title text-center">Tienda Paradise</h5>
                        <a href="https://nairobinivar12.github.io/practicadelatienda/" class="btn btn-primary boton">ver mas</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card serviciosmorado">
                    <div class="card-body">
                        <img src="./assets/img/fotolibreria.png" class="img-fluid" alt="">
                        <h5 class="card-title  text-center">Libreria Virtual</h5>
                        <a href="https://nairobinivar12.github.io/practica_libreria/" class="btn btn-primary boton">ver mas</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card servicios">
                    <div class="card-body">
                        <img src="./assets/img/cursos.png" class="img-fluid" alt="">
                        <h5 class="card-title text-center">Plataforma de cursos online</h5>
                        <a class="btn btn-primary boton" href="https://nairobinivar12.github.io/appcursos/">ver mas </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>