<div id="course">
    <h1 class="heading">Proyectos</h1>
    <div class="box-container">
        <div class="box" data-aos="flip-right">
            <img src="./assets/img/tiendaaaaa.png" alt="" />
            <p>
                Esta esta pagina web, es de la tienda de ropa Paradise.
                <a class="nav-link active" href="https://nairobinivar12.github.io/tiendavirtual/">ver mas</a>
            </p>
        </div>

        <div class="box" data-aos="flip-down">
            <img src="./assets/img/img-libronuevo.png" alt="" />
            <p>
                Esta es una pagina web de una libreria virtual.
                <a class="nav-link active" href="https://nairobinivar12.github.io/libreriavirtual/">ver mas</a>

            </p>
        </div>

        <div class="box" data-aos="flip-left">
            <img src="./assets/img/cursos.png" alt="" />
            <p>
                software Academy es una plataforma que imparte cursos de tecnologia de forma virtual
                <a class="nav-link active" href="https://nairobinivar12.github.io/appplafaformavirtual/">ver mas</a>
            </p>
        </div>
        <div class="box" data-aos="flip-right">
            <img src="./assets/img/spotyapp.png" alt="" />
            <p>
                Esta aplicacion es consumiendo la api de spotify
                <a class="nav-link active" href="https://nairobinivar12.github.io/spotyapp/">ver mas</a>
            </p>
        </div>
    </div>
</div>