<!--<div id="course">
    <h1 class="heading">Proyectos</h1>
    <div class="box-container">
        <div class="box" data-aos="flip-right">
            <img src="./assets/img/tiendaaaaa.png" alt="" />
            <p>
                Esta esta pagina web, es de la tienda de ropa Paradise.
                <a class="nav-link active" href="https://nairobinivar12.github.io/tiendavirtual/">ver mas</a>
            </p>
        </div>

        <div class="box" data-aos="flip-down">
            <img src="./assets/img/img-libronuevo.png" alt="" />
            <p>
                Esta es una pagina web de una libreria virtual.
                <a class="nav-link active" href="https://nairobinivar12.github.io/libreriavirtual/">ver mas</a>

            </p>
        </div>

        <div class="box" data-aos="flip-left">
            <img src="./assets/img/cursos.png" alt="" />
            <p>
                software Academy es una plataforma que imparte cursos de tecnologia de forma virtual
                <a class="nav-link active" href="https://nairobinivar12.github.io/appplafaformavirtual/">ver mas</a>
            </p>
        </div>
        <div class="box" data-aos="flip-right">
            <img src="./assets/img/spotyapp.png" alt="" />
            <p>
                Esta aplicacion es consumiendo la api de spotify
                <a class="nav-link active" href="https://nairobinivar12.github.io/spotyapp/">ver mas</a>
            </p>
        </div>
    </div>
</div>

-->
<!--<div id="course">
    <h1 class="heading">Proyectos</h1>
    <div class="box-container">
        <div class="box" data-aos="flip-right">
            <img src="../../../assets/img/tiendaaaaa.png" alt="" />
            <p>
                Esta esta pagina web, es de la tienda de ropa Paradise.
                <a class="nav-link active" [routerLink]="['/pdf']">ver mas</a>
            </p>
        </div>

        <div class="box" data-aos="flip-down">
            <img src="../../../assets/img/img-libronuevo.png" alt="" />
            <p>
                Esta es una pagina web de una libreria virtual.
                <a class="nav-link active" [routerLink]="['/pdf']">ver mas</a>
            </p>
        </div>

        <div class="box" data-aos="flip-left">
            <img src="../../../assets/img/cursos.png" alt="" />
            <p>
                software Academy es una plataforma que imparte cursos de tecnologia de forma virtual
                <a class="nav-link active" [routerLink]="['/pdf']">ver mas</a>
            </p>
        </div>
        <div class="box" data-aos="flip-right">
            <img src="../../../assets/img/spotyapp.png" alt="" />
            <p>
                Esta aplicacion es consumiendo la api de spotify
                <a class="nav-link active" [routerLink]="['/pdf']">ver mas</a>
            </p>
        </div>
    </div>
</div>
--->



<div class="row">
    <div class="container col-12">
        <h1 class="heading text-center">Proyectos</h1>
        <div class="card-group">
            <div class="card">
                <img src="./assets/img/tiendaaaaa.png" alt="" />
                <div class="card-body">
                    <h5 class="card-title text-center">Tienda Paradise</h5>
                    <a class="nav-link active text-center" [routerLink]="['/pdf']">ver </a>
                </div>
            </div>
            <div class="card">
                <img src="./assets/img/fotolibreria.png" alt="" />
                <div class="card-body">
                    <h5 class="card-title  text-center m-4">Libreria Virtual</h5>
                    <a class="nav-link active text-center" [routerLink]="['/pdf']">ver </a>
                </div>
            </div>
            <div class="card">
                <img src="./assets/img/cursos.png" alt="" />
                <div class="card-body">
                    <h5 class="card-title text-center  m-1">Plataforma de cursos online</h5>
                    <a class="nav-link active text-center" [routerLink]="['/pdf']">ver </a>
                </div>
            </div>
        </div>
    </div>
</div>