<div class="row justify-content-center redes-sociales footer navbar-fixed-bottom ">
    <div class="col-auto">
        <a href="https://www.linkedin.com/in/nairobi-nivar-peguero-07496a137"><img src="/portafolionairobinivarpeguero/assets/img/icons/linkedIn_PNG6.png" alt="" /></a>
        <a href="https://www.instagram.com/nairobinivarpeguero/?hl=es"><img src="/portafolionairobinivarpeguero/assets/img/icons/redes.jpg" alt="" /></a>
        <a href="https://www.youtube.com/channel/UC1ql7HKlRhCj_rKtQ9At_fA"><img src="/portafolionairobinivarpeguero/assets/img/icons/youtube.png" alt="" /></a>
    </div>
</div>
<!-- Footer -->
<footer class="page-footer font-small">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-2 fondo">
        <p>© 2021 Copyright: Esta pagina fue elaborada por Nairobi Nivar</p>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
