<div id="course" class="course" id="tecnologias">
    <h1 class="heading">Tecnologías</h1>
    <h3 class="title"></h3>
    <div class="box-container">
        <div class="box">
            <i class="fab fa-html5"></i>
            <h3>html5</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ex.</p>
        </div>
        <div class="box">
            <i class="fab fa-css3-alt"></i>
            <h3>css3</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ex.</p>
        </div>
        <div class="box">
            <i class="fab fa-bootstrap"></i>
            <h3>Bootstrap</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ex.</p>
        </div>
        <div class="box">
            <i class="fab fa-js-square"></i>
            <h3>javascript</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ex.</p>
        </div>
        <div class="box">
            <i class="fab fa-angular"></i>
            <h3>Angular</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ex.</p>
        </div>
        <div class="box">
            <i class="fas fa-database"></i>
            <h3>SQL</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ex.</p>
        </div>
        <div class="box">
            <i class="fas fa-code-branch"></i>
            <h3>Git</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, ex.</p>
        </div>
    </div>
</div>