* {
    padding: 0px;
    margin: 0px;
}

.nombre {
    color: #FF046F;
    font-family: 'Noto Serif', serif;
}

.letras {
    color: white;
    font-family: 'Noto Serif', serif;
}

p {
    color: black;
    font-family: 'Noto Serif', serif;
    font-size: 2rem;
}

.titulo {
    width: 70%;
    font-size: 44px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 50px;
    font-family: 'Noto Serif', serif;
    font-style: italic;
    color: purple;
}

.texto {
    color: black;
    font-size: 30px;
    font-family: 'Noto Serif', serif;
}

.frase {
    color: purple;
    font-size: 30px;
    font-family: 'Noto Serif', serif;
}

.home {
    min-height: 100vh;
    background-image: url('../../../assets/img/ulul.png');
    background: linear-gradient(rgba(198, 59, 250, .8), rgba(198, 59, 250, .8));
    background-position: center;
    background-attachment: fixed;
    z-index: 0;
    overflow: hidden;
    position: relative;
}

.home .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-top: 14rem;
    padding-bottom: 8rem;
    text-align: center;
}

.home .content h1 {
    font-size: 5rem;
    color: #fff;
    padding: 0 1rem;
    text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    text-transform: uppercase;
}

.home .content p {
    font-size: 3rem;
    color: #eee;
    padding: 1rem 25rem;
}

.home .content button {
    height: 4rem;
    width: 20rem;
    border-radius: 5rem;
    background: #FF046F;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: .2s;
    border: none;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .3);
}

.home .content button:hover {
    letter-spacing: .2rem;
}

.home .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.home .box-container .box {
    height: 20rem;
    width: 25rem;
    background: #fff;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .5);
    margin: 2rem;
    cursor: pointer;
}

.home .box-container .box i {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #C63BFA;
    font-size: 2rem;
    margin: 2rem 0;
    transition: .2s;
}

.home .box-container .box h3 {
    font-size: 2rem;
    color: #FF046F;
    transition: .2s;
}

.home .box-container .box p {
    font-size: 1.3rem;
    padding: .7rem 2rem;
    color: #666;
}

.home .box-container .box:hover i {
    background: #FF046F;
}

.home .box-container .box:hover h3 {
    color: #C63BFA;
}

.home::before {
    content: '';
    position: absolute;
    bottom: -25rem;
    left: 50%;
    transform: translateX(-50%);
    border-top: 70vh solid #fff;
    width: 120%;
    border-radius: 50%;
    z-index: -1;
}

.section-1 {
    padding: 20vmin 0vmin;
}

.section-1 .row .col-md-6 .pray img {
    opacity: 0.8;
    width: 80%;
    border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child {
    position: relative;
}

.section-1 .row .col-md-6 .panel {
    position: absolute;
    top: 7vmin;
    left: -18vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    font-family: var(--Rubik);
    z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 1rem;
    color: black
}

.section-1 .row .col-md-6 .panel p {
    font-size: 1rem;
    color: black;
}

.section-1 .row .col-md-12 .panel p {
    font-size: 3rem;
    color: black;
}

.section-1 .row .col-md-12 .panel h1 {
    font-size: 3rem;
    color: white;
}