<app-navbar></app-navbar>
<div class="row">
    <div col="col-12">
        <section class="home" id="home">
            <h1 class="text-center letras">Portafolio de Proyectos</h1>
            <div class="section-1" id="quiensoy">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-6   col-md-6">
                            <div class="pray">

                                <img src="./assets/img/nay.jpeg" alt="Pray" class="" />
                            </div>
                        </div>
                        <div class=" col-6 col-md-6">
                            <div class="panel text-left">
                                <h1 class="nombre">ING. Nairobi Nivar</h1>
                                <br class="pt-4">
                                <p> Hola!! Mi nombre es Nairobi Nivar, soy Ingeniera de Sistemas y Computación, me dedico al Diseño y Desarrollo de Aplicaciones. Actualmente soy Front end Developer, con la visión de convertirme en Full Stack Web.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
<app-proyectos></app-proyectos>
<app-servicios></app-servicios>
<app-tecnologias></app-tecnologias>
<app-footer></app-footer>